################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Cursos/Ciencia e Engenharia Fisica/Oil e Gas/Semana 1/Oil and Gas Sources
